In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv('/Users/jxhn/Desktop/IRONHACK/Week_4/Day_2/Afternoon/lab-comparing-regression-models/files_for_lab/super_cleaned_df.csv')

In [3]:
df.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,state,response,coverage,...,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,day,day_name,week,month,total_claim_amount
0,2763.519279,56274.0,69.0,5.0,32,0,1,Washington,0,1,...,L3,Offer1,Agent,Two-Door Car,2,24,Thursday,8,February,384.811147
1,6979.535903,0.0,94.0,42.0,13,0,8,Arizona,0,2,...,L3,Offer3,Agent,Four-Door Car,2,31,Monday,5,January,1131.464935
2,12887.431650,48767.0,108.0,38.0,18,0,2,Nevada,0,3,...,L3,Offer1,Agent,Two-Door Car,2,19,Saturday,7,February,566.472247
3,7645.861827,0.0,106.0,65.0,18,0,7,California,0,1,...,L2,Offer1,Call Center,SUV,2,20,Thursday,3,January,529.881344
4,2813.692575,43836.0,73.0,44.0,12,0,1,Washington,0,1,...,L1,Offer1,Agent,Four-Door Car,2,3,Thursday,5,February,138.130879

In [4]:
y = df['total_claim_amount']
X = df.drop(['total_claim_amount'], axis=1)

In [5]:
y.head()

0     384.811147
1    1131.464935
2     566.472247
3     529.881344
4     138.130879
Name: total_claim_amount, dtype: float64

In [6]:
X.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,state,response,coverage,...,marital_status,policy,renew_offer_type,sales_channel,vehicle_class,vehicle_size,day,day_name,week,month
0,2763.519279,56274.0,69.0,5.0,32,0,1,Washington,0,1,...,Married,L3,Offer1,Agent,Two-Door Car,2,24,Thursday,8,February
1,6979.535903,0.0,94.0,42.0,13,0,8,Arizona,0,2,...,Single,L3,Offer3,Agent,Four-Door Car,2,31,Monday,5,January
2,12887.431650,48767.0,108.0,38.0,18,0,2,Nevada,0,3,...,Married,L3,Offer1,Agent,Two-Door Car,2,19,Saturday,7,February
3,7645.861827,0.0,106.0,65.0,18,0,7,California,0,1,...,Married,L2,Offer1,Call Center,SUV,2,20,Thursday,3,January
4,2813.692575,43836.0,73.0,44.0,12,0,1,Washington,0,1,...,Single,L1,Offer1,Agent,Four-Door Car,2,3,Thursday,5,February

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=31)

In [8]:
y_train.head()

7257    871.200000
5720    193.339860
8210     32.454659
3063    749.134686
8478    694.598288
Name: total_claim_amount, dtype: float64

In [9]:
X_train_df = pd.DataFrame(X_train, columns=X.columns)
X_test_df  = pd.DataFrame(X_test,  columns=X.columns)

X_train_num = X_train_df.select_dtypes(include = np.number)
X_test_num  = X_test_df.select_dtypes(include = np.number)
X_train_cat = X_train_df.select_dtypes(['object'])
X_test_cat  = X_test_df.select_dtypes(['object'])

In [10]:
from sklearn.preprocessing import OneHotEncoder

encoder = OneHotEncoder(drop='first')
encoder.fit(X_train_cat)

X_train_cat_encoded = encoder.transform(X_train_cat).toarray()
X_test_cat_encoded = encoder.transform(X_test_cat).toarray()

X_train_cat_encoded_df = pd.DataFrame(X_train_cat_encoded, columns=encoder.get_feature_names_out(), index=X_train_cat.index)
X_test_cat_encoded_df = pd.DataFrame(X_test_cat_encoded, columns=encoder.get_feature_names_out(), index=X_test_cat.index)
X_train_cat_encoded_df.head()

,state_California,state_Nevada,state_Oregon,state_Washington,education_College,education_Graduate,education_High School or Below,effective_to_date_2011-01-02,effective_to_date_2011-01-03,effective_to_date_2011-01-04,...,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car,day_name_Monday,day_name_Saturday,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,month_January
7257,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5720,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8210,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3063,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8478,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [11]:
from sklearn.preprocessing import PowerTransformer

power = PowerTransformer(method='yeo-johnson', standardize=True) 
power.fit(X_train_num)

X_train_num_transformed = power.transform(X_train_num)
X_test_num_transformed = power.transform(X_test_num)

X_train_num_transformed_df = pd.DataFrame(X_train_num_transformed, columns = X_train_num.columns, index = X_train_num.index)
X_test_num_transformed_df = pd.DataFrame(X_test_num_transformed, columns = X_test_num.columns, index = X_test_num.index)
X_train_num_transformed_df.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,response,coverage,employmentstatus,gender,location_code,vehicle_size,day,week
7257,1.254780,-1.662875,1.312075,-0.403151,-0.698167,-0.508609,-0.066679,-0.403674,1.193921,-1.510026,-1.017820,0.031894,0.150882,-1.886653,2.717124
5720,-1.502490,0.235429,-1.144354,1.275008,-0.135818,-0.508609,-1.134627,-0.403674,-0.773705,0.753181,0.982492,1.638003,0.150882,1.255993,-0.025994
8210,-1.758357,-1.662875,-1.541686,0.393123,0.245320,-0.508609,-1.134627,-0.403674,-0.773705,-1.510026,0.982492,-1.613942,0.150882,1.061837,0.884818
3063,-0.076610,-1.662875,-0.071004,0.393123,-0.036060,1.921569,0.868793,-0.403674,1.193921,-1.510026,-1.017820,0.031894,0.150882,-1.702819,0.277147
8478,-0.826154,0.180443,0.807702,0.295321,-0.698167,-0.508609,-1.134627,2.477245,-0.773705,-0.799335,0.982492,0.031894,0.150882,1.061837,0.884818

In [12]:
X_train_new = pd.concat([X_train_num_transformed_df, X_train_cat_encoded_df], axis=1)
X_test_new = pd.concat([X_test_num_transformed_df, X_test_cat_encoded_df], axis=1)

In [13]:
X_train_new.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,response,coverage,employmentstatus,...,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car,day_name_Monday,day_name_Saturday,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,month_January
7257,1.254780,-1.662875,1.312075,-0.403151,-0.698167,-0.508609,-0.066679,-0.403674,1.193921,-1.510026,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5720,-1.502490,0.235429,-1.144354,1.275008,-0.135818,-0.508609,-1.134627,-0.403674,-0.773705,0.753181,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8210,-1.758357,-1.662875,-1.541686,0.393123,0.245320,-0.508609,-1.134627,-0.403674,-0.773705,-1.510026,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3063,-0.076610,-1.662875,-0.071004,0.393123,-0.036060,1.921569,0.868793,-0.403674,1.193921,-1.510026,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8478,-0.826154,0.180443,0.807702,0.295321,-0.698167,-0.508609,-1.134627,2.477245,-0.773705,-0.799335,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [14]:
from sklearn.preprocessing import MinMaxScaler
transformer = MinMaxScaler()
transformer.fit(X_train_new) # we will reuse this transformer for X_test later

X_train_new_scaled = transformer.transform(X_train_new)
X_test_new_scaled  = transformer.transform(X_test_new)

X_train_new_scaled_df = pd.DataFrame(X_train_new_scaled, columns=X_train_new.columns, index = X_train_new.index)
X_test_new_scaled_df  = pd.DataFrame(X_test_new_scaled,  columns=X_test_new.columns, index = X_test_new.index)
X_train_new_scaled_df.head()

,customer_lifetime_value,income,monthly_premium_auto,months_since_policy_inception,months_since_last_claim,number_of_open_complaints,number_of_policies,response,coverage,employmentstatus,...,vehicle_class_Luxury,vehicle_class_SUV,vehicle_class_Two-Door Car,day_name_Monday,day_name_Saturday,day_name_Sunday,day_name_Thursday,day_name_Tuesday,day_name_Wednesday,month_January
7257,0.768989,0.000000,0.776334,0.453342,0.347162,0.000000,0.382401,0.0,0.82973,0.000000,...,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0
5720,0.156696,0.683148,0.108090,0.902013,0.502666,0.000000,0.000000,0.0,0.00000,1.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,1.0
8210,0.099877,0.000000,0.000000,0.666233,0.608060,0.000000,0.000000,0.0,0.00000,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3063,0.473334,0.000000,0.400083,0.666233,0.530251,0.958363,0.717367,0.0,0.82973,0.000000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0
8478,0.306886,0.663360,0.639125,0.640085,0.347162,0.000000,0.000000,1.0,0.00000,0.314019,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [15]:
from sklearn.linear_model import LinearRegression

linear_model = LinearRegression()
linear_model.fit(X_train_new_scaled_df, y_train)

LinearRegression()

In [16]:
y_pred_train = linear_model.predict(X_train_new_scaled_df)
y_pred_test  = linear_model.predict(X_test_new_scaled_df)

In [17]:
def error_metrics_report(y_real_train: list, y_real_test: list, y_pred_train: list, y_pred_test: list) -> pd.DataFrame:
    '''
    This function takes the real values and any model predictions for the Train and Test sets and returns a Pandas
    DataFrame with a summary of error metrics for the Train and Test sets like this:

    | Metric | Train | Test |
    |--------|-------|------|
    | MAE    | value | value|
    | MSE    | value | value|
    | RMSE   | value | value|
    | R2     | value | value|

    Inputs:
    y_real_train: Python list with the real values to be predicted in the Train set
    y_real_test: Python list with the real values to be predicted in the Test set
    y_pred_train: Python list with the model's predicted values in the Train set
    y_pred_test:  Python list with the model's predicted values in the Test set
    '''
    from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score

    MAE_train = mean_absolute_error(y_real_train, y_pred_train)
    MAE_test  = mean_absolute_error(y_real_test, y_pred_test)

    # Mean squared error
    MSE_train = mean_squared_error(y_real_train, y_pred_train)
    MSE_test  = mean_squared_error(y_real_test, y_pred_test)

    # Root mean squared error
    RMSE_train = mean_squared_error(y_real_train, y_pred_train, squared=False)
    RMSE_test  = mean_squared_error(y_real_test,  y_pred_test,  squared=False)

    # R2
    R2_train = r2_score(y_real_train, y_pred_train)
    R2_test  = r2_score(y_real_test,  y_pred_test)

    results = {"Metric": ["MAE","MSE", "RMSE", "R2"],
               "Train": [MAE_train, MSE_train, RMSE_train, R2_train],
               "Test":  [MAE_test, MSE_test, RMSE_test, R2_test]}

    results_df = pd.DataFrame(results).round(2)

    return results_df

In [19]:
error_metrics_report(list(y_train), list(y_test), list(y_pred_train), list(y_pred_test))

  Metric     Train      Test
0    MAE    119.49    120.10
1    MSE  23327.75  23893.65
2   RMSE    152.73    154.58
3     R2      0.53      0.51

In [20]:
def train_many_models(xtrain: pd.DataFrame,
                      xtest: pd.DataFrame,
                      ytrain: pd.Series,
                      models=['LinearRegression', 'KNeighborsRegressor', 'MLPRegressor'])-> dict:
    """
    This function takes X_train, X_test, y_train and trains the models specified. It returns a dictionary
    with the model type as the key and values with the list of the y_train_prediction and list of the y_test_predictions.

    Input
    xtrain: a pandas dataframe with the X_train values
    xtest: a pandas dataframe with the X_test values
    ytrain: a pandas series with the y_train values
    models: a list with the names of models to train.

    Output
    a dictionary with model type as key and the y_train and y_test predictions
        {
        'lm': [y_train_prediction, y_train_prediction],
        'kn': [y_train_prediction, y_train_prediction],
        'mlp':[y_train_prediction, y_train_prediction]
        }
         
        

    """
    results={}
    
    for model in models:
        if model == 'LinearRegressor':
            from sklearn.linear_model import LinearRegression
            
            #fit
            lm = LinearRegression().fit(xtrain, ytrain)
            
            
            #predict
            y_train_pred = lm.predict(xtrain)
            y_test_pred = lm.predict(xtest)

            results[model]=[list(y_train_pred), list(y_test_pred)]
            print('Training {} model'.format(model))

        if model == 'KNeighborsRegressor':
            from sklearn.neighbors import KNeighborsRegressor

            #fit
            kn = KNeighborsRegressor().fit(xtrain, ytrain)

            #predict
            y_train_pred = kn.predict(xtrain)
            y_test_pred = kn.predict(xtest)

            results[model]=[list(y_train_pred), list(y_test_pred)]
            print('Training {} model'.format(model))

        if model == 'MLPRegressor':
            from sklearn.neural_network import MLPRegressor
            #fit
            mlp = MLPRegressor().fit(xtrain,ytrain)

            #predict
            y_train_pred = mlp.predict(xtrain)
            y_test_pred = mlp.predict(xtest)

            results[model]=[list(y_train_pred), list(y_test_pred)]
            print('Training {} model'.format(model))

    return results

In [23]:
models = ['LinearRegressor', 'KNeighborsRegressor', 'MLPRegressor']
results = train_many_models(X_train_new_scaled_df, X_test_new_scaled_df, y_train, models)

Training LinearRegressor model
Training KNeighborsRegressor model
Training MLPRegressor model

/Users/jxhn/anaconda3/lib/python3.10/site-packages/sklearn/neural_network/_multilayer_perceptron.py:684: ConvergenceWarning: Stochastic Optimizer: Maximum iterations (200) reached and the optimization hasn't converged yet.
  warnings.warn(

In [24]:
for model in models:
    print('Error metrics for {} model'.format(model))
    display(error_metrics_report(y_train, y_test, results[model][0], results[model][1]))

Error metrics for LinearRegressor model

  Metric     Train      Test
0    MAE    119.49    120.10
1    MSE  23327.75  23893.65
2   RMSE    152.73    154.58
3     R2      0.53      0.51

Error metrics for KNeighborsRegressor model

  Metric     Train      Test
0    MAE    107.79    135.39
1    MSE  21561.07  32727.39
2   RMSE    146.84    180.91
3     R2      0.56      0.33

Error metrics for MLPRegressor model

  Metric     Train      Test
0    MAE    107.65    108.83
1    MSE  19751.51  20595.37
2   RMSE    140.54    143.51
3     R2      0.60      0.58

In [26]:
print("The MLPRegressor model has the best performance")

The MLPRegressor model has the best performance